// colors
$black: #0F0F0F;
$darkBlue: #232D3F;
$green: #3b5c65;
$light: #fff;
$sidebarBg: #0d0d0d;
$sidebarTextColor: #888787;
$sidebarHoverColor: #2b3433;

//LIGHT: '#e6f4f0',
//DARK_GRAY: '#2b3433',
//BLUE: '#3b5c65',
//LIGHT_BLUE: '#a5c8ca',

//fonts
$mainFont: 'Alegreya Sans', serif;

